## Primer Apartado

In [42]:
! pwd

/home/dsc/Repositories/Koldo/Master-in-Data-Science-2016/Amadeus_challenge

In [43]:
paths_to_zips = '/home/dsc/Data/challenge/'

In [44]:
! ls {paths_to_zips}

bookings.csv.bz2  searches.csv.bz2

In [45]:
#Vamos a ver que hay en el fichero y trabajar so¡ólamente con un sample de 1000 lineas, por ejemplo

In [46]:
! bzcat {paths_to_zips}bookings.csv.bz2 | head -1000 > bookings.sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = /home/dsc/Data/challenge/bookings.csv.bz2, output file = (stdout)

In [47]:
! ls -l

total 896
-rw-rw-r--. 1 dsc dsc   7858 Dec  2 17:37 Amadeus_Challenge_K.ipynb
-rw-rw-r--. 1 dsc dsc 425006 Dec  2 17:37 bookings.sample.csv
-rw-rw-r--. 1 dsc dsc  54834 Dec  2 17:14 bookings.sample.csv.bz2
-rw-rw-r--. 1 dsc dsc 425006 Dec  2 17:25 bookings.sample.csv.csv

In [48]:
! bzip2 bookings.sample.csv

bzip2: Output file bookings.sample.csv.bz2 already exists.

In [49]:
! bzcat bookings.sample.csv.bz2 | wc -l

1000

In [50]:
#Otra alternatica de obtener la respuesta pero en Python, no en linea de comandos.

In [51]:
import bz2

In [52]:
fileBz2 = bz2.BZ2File('./bookings.sample.csv.bz2')

In [53]:
k = 0

for line in fileBz2:
    k += 1
print "%s has %d lines." %(fileBz2.name, k)

./bookings.sample.csv.bz2 has 1000 lines.

In [54]:
#Hacemos una copia para luego descomprimirlo

In [55]:
! cp ./bookings.sample.csv.bz2 ./bookings.sample.csv.csv.bz2

In [56]:
! bunzip2 ./bookings.sample.csv.csv.bz2

bunzip2: Output file ./bookings.sample.csv.csv already exists.

In [57]:
! ls -l

total 952
-rw-rw-r--. 1 dsc dsc   7858 Dec  2 17:37 Amadeus_Challenge_K.ipynb
-rw-rw-r--. 1 dsc dsc 425006 Dec  2 17:37 bookings.sample.csv
-rw-rw-r--. 1 dsc dsc  54834 Dec  2 17:14 bookings.sample.csv.bz2
-rw-rw-r--. 1 dsc dsc 425006 Dec  2 17:25 bookings.sample.csv.csv
-rw-rw-r--. 1 dsc dsc  54834 Dec  2 17:38 bookings.sample.csv.csv.bz2

In [58]:
#Otra forma de hacerlo: Con with el fichero se cierra despies de haver el bucle

In [59]:
with open('./bookings.sample.csv.csv') as input_file:
    k = 0
    for line in input_file:
        if k == 10:
            break
        k += 1
print "File has %d lines." %k

File has 10 lines.

In [60]:
%whos

Variable        Type       Data/Info
------------------------------------
BeautifulSoup   type       <class 'bs4.BeautifulSoup'>
bz2             module     <module 'bz2' from '/home<...>n2.7/lib-dynload/bz2.so'>
fileBz2         BZ2File    <bz2.BZ2File object at 0x7f1254181b90>
input_file      file       <closed file './bookings.<...>de 'r' at 0x7f12545c0930>
k               int        10
like            str        2013-03-25 00:00:00^1V   <...>3:56^2^2013^3^NULL     \n
line            str        2013-03-25 00:00:00^1V   <...>3:56^2^2013^3^NULL     \n
lxml            module     <module 'lxml' from '/hom<...>kages/lxml/__init__.pyc'>
paths_to_zips   str        /home/dsc/Data/challenge/

In [61]:
#Otra forma

In [62]:
try:
    with open('./bookings.sample.csv.csv') as input_file:
        for k, line in enumerate(input_file):
            pass
    print "File has %d lines." %(k+1)
except IOError:
    print "Did not open"
except ValueError:
    print " Could not convert a int"
except:
    print "Unknown error"

File has 1000 lines.

In [63]:
#Otra forma

In [64]:
import glob #El tema de esto es conocer que existe la libreria

In [66]:
files_to_read = glob.glob("*.ipynb") #Devuelve los nombres de ficheros a una lista

In [67]:
files_to_read

['Amadeus_Challenge_K.ipynb']

In [68]:
ls -l

total 956
-rw-rw-r--. 1 dsc dsc   9524 Dec  2 17:40 Amadeus_Challenge_K.ipynb
-rw-rw-r--. 1 dsc dsc 425006 Dec  2 17:37 bookings.sample.csv
-rw-rw-r--. 1 dsc dsc  54834 Dec  2 17:14 bookings.sample.csv.bz2
-rw-rw-r--. 1 dsc dsc 425006 Dec  2 17:25 bookings.sample.csv.csv
-rw-rw-r--. 1 dsc dsc  54834 Dec  2 17:38 bookings.sample.csv.csv.bz2

## Segundo ejercicio

In [70]:
# Prepare the book sample

In [71]:
!pwd

/home/dsc/Repositories/Koldo/Master-in-Data-Science-2016/Amadeus_challenge

In [73]:
!ls -l

total 956
-rw-rw-r--. 1 dsc dsc  10385 Dec  2 17:42 Amadeus_Challenge_K.ipynb
-rw-rw-r--. 1 dsc dsc 425006 Dec  2 17:37 bookings.sample.csv
-rw-rw-r--. 1 dsc dsc  54834 Dec  2 17:14 bookings.sample.csv.bz2
-rw-rw-r--. 1 dsc dsc 425006 Dec  2 17:25 bookings.sample.csv.csv
-rw-rw-r--. 1 dsc dsc  54834 Dec  2 17:38 bookings.sample.csv.csv.bz2

In [74]:
import pandas as pd

In [75]:
b = pd.read_csv('./bookings.sample.csv.bz2', sep = '^')

In [77]:
#Otra forma
#b = pd.read_csv('./booking.csv.bz2'), sep = '^', nrows = 1000)

In [76]:
#La columna interesante es arr_port
#Año 2013
#cre_date: fecha de creacion
#act_date: modificacion de la reserva

In [78]:
b.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [82]:
#Pero no podemos ver todas las columnas, Así que ahora usamos:

In [83]:
pd.set_option('display.max_columns', 100) #Si en vez de 100 pones None, te da todas las columnas

In [84]:
b.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHRZRH,LONZRH,CHGB,1,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,SAL,SAL,SV,CLT,CLT,US,CLTSAL,CLTSAL,SVUS,1,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLTSAL,CLTSAL,SVUS,1,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKL,AKL,NZ,SVO,MOW,RU,AKLSVO,AKLMOW,NZRU,1,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKLSVO,AKLMOW,NZRU,1,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [85]:
#rloc: codigo unico de reserva
#route: es la ruta, cada aeropuerto tiene 3 letras
#off_time: aterrizaje
#pax: numero de pasajeros (números negatigos son pasajeros que han cancelado)
#La columna buena es ACT_DATE
#source: 1A es Amadeus

In [86]:
b.describe() #Nos devuelve,para las columnas numericas, algo de informacion

            duration      distance        intl         pax    year  month
count     999.000000    999.000000  999.000000  999.000000   999.0  999.0
mean    23959.061061    405.376376    0.643644    0.533534  2013.0    3.0
std     54481.250534   1489.219442    0.479162    1.976471     0.0    0.0
min        61.000000      0.000000    0.000000   -8.000000  2013.0    3.0
25%      3493.000000      0.000000    0.000000   -1.000000  2013.0    3.0
50%      6936.000000      0.000000    1.000000    1.000000  2013.0    3.0
75%     17940.000000      0.000000    1.000000    1.000000  2013.0    3.0
max    482174.000000  10995.000000    1.000000   21.000000  2013.0    3.0

In [89]:
b.dtypes #object es string

act_date               object
source                 object
pos_ctry               object
pos_iata               object
pos_oid                object
rloc                   object
cre_date               object
duration                int64
distance                int64
dep_port               object
dep_city               object
dep_ctry               object
arr_port               object
arr_city               object
arr_ctry               object
lst_port               object
lst_city               object
lst_ctry               object
brd_port               object
brd_city               object
brd_ctry               object
off_port               object
off_city               object
off_ctry               object
mkt_port               object
mkt_city               object
mkt_ctry               object
intl                    int64
route                  object
carrier                object
bkg_class              object
cab_class              object
brd_time               object
off_time               object
pax                     int64
year                    int64
month                   int64
oid                    object
dtype: object

In [90]:
b.isnull().sum()

act_date               0
source                 0
pos_ctry               0
pos_iata               0
pos_oid                0
rloc                   0
cre_date               0
duration               0
distance               0
dep_port               0
dep_city               0
dep_ctry               0
arr_port               0
arr_city               0
arr_ctry               0
lst_port               0
lst_city               0
lst_ctry               0
brd_port               0
brd_city               0
brd_ctry               0
off_port               0
off_city               0
off_ctry               0
mkt_port               0
mkt_city               0
mkt_ctry               0
intl                   0
route                  0
carrier                0
bkg_class              0
cab_class              0
brd_time               0
off_time               0
pax                    0
year                   0
month                  0
oid                    0
dtype: int64

In [91]:
b.count()

act_date               999
source                 999
pos_ctry               999
pos_iata               999
pos_oid                999
rloc                   999
cre_date               999
duration               999
distance               999
dep_port               999
dep_city               999
dep_ctry               999
arr_port               999
arr_city               999
arr_ctry               999
lst_port               999
lst_city               999
lst_ctry               999
brd_port               999
brd_city               999
brd_ctry               999
off_port               999
off_city               999
off_ctry               999
mkt_port               999
mkt_city               999
mkt_ctry               999
intl                   999
route                  999
carrier                999
bkg_class              999
cab_class              999
brd_time               999
off_time               999
pax                    999
year                   999
month                  999
oid                    999
dtype: int64

In [92]:
b.tail()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
994,2013-03-23 00:00:00,1P,US,bfafedb1505531ad8e70e176941a7ad0,804deeaddf16e6a93d36e5d046040d60,be83fd657625d53f58c5d3070cdb41b8,2013-03-06 00:00:00,5570,0,SLC,SLC,US,MSN,MSN,US,SLC,SLC,US,SLC,SLC,US,MSN,MSN,US,MSNSLC,MSNSLC,USUS,0,SLCMSN,NV,K,Y,2013-05-20 14:00:00,2013-05-20 18:00:55,-1,2013,3,NULL
995,2013-03-23 00:00:00,1P,US,bfafedb1505531ad8e70e176941a7ad0,804deeaddf16e6a93d36e5d046040d60,be83fd657625d53f58c5d3070cdb41b8,2013-03-06 00:00:00,5570,0,SLC,SLC,US,MSN,MSN,US,SLC,SLC,US,SLC,SLC,US,MSN,MSN,US,MSNSLC,MSNSLC,USUS,0,SLCMSN,NV,K,Y,2013-05-20 14:00:00,2013-05-20 18:00:55,1,2013,3,NULL
996,2013-03-06 00:00:00,1P,US,83ccf07a55606976f78e63fcc805f58c,1490c3c5f95f04fa076fe15c775a80a9,691f15622668e671f51ba033ea904398,2013-03-06 00:00:00,4664,0,SNA,SNA,US,SFO,SFO,US,SNA,SNA,US,SNA,SNA,US,SFO,SFO,US,SFOSNA,SFOSNA,USUS,0,SNASFO,FK,V,Y,2013-03-17 13:31:00,2013-03-17 15:01:12,1,2013,3,NULL
997,2013-03-06 00:00:00,1P,US,83ccf07a55606976f78e63fcc805f58c,1490c3c5f95f04fa076fe15c775a80a9,691f15622668e671f51ba033ea904398,2013-03-06 00:00:00,4664,0,SNA,SNA,US,SFO,SFO,US,SNA,SNA,US,SFO,SFO,US,SNA,SNA,US,SFOSNA,SFOSNA,USUS,0,SFOSNA,FK,W,Y,2013-03-20 17:45:00,2013-03-20 19:15:12,1,2013,3,NULL
998,2013-03-06 00:00:00,1P,US,0deb0937d0f143f79505297b235eaeeb,f4ae494f0ebec1d84f6e01750d61747d,bed521f09feee94fcb87f705267b0327,2013-03-06 00:00:00,331,2598,LAX,LAX,US,MEM,MEM,US,MEM,MEM,US,LAX,LAX,US,MEM,MEM,US,LAXMEM,LAXMEM,USUS,0,LAXDFWMEM,KK,Y,Y,2013-03-09 07:30:00,2013-03-09 15:01:52,1,2013,3,NULL

In [93]:
b.columns

Index([u'act_date           ', u'source', u'pos_ctry', u'pos_iata',
       u'pos_oid  ', u'rloc          ', u'cre_date           ', u'duration',
       u'distance', u'dep_port', u'dep_city', u'dep_ctry', u'arr_port',
       u'arr_city', u'arr_ctry', u'lst_port', u'lst_city', u'lst_ctry',
       u'brd_port', u'brd_city', u'brd_ctry', u'off_port', u'off_city',
       u'off_ctry', u'mkt_port', u'mkt_city', u'mkt_ctry', u'intl',
       u'route          ', u'carrier', u'bkg_class', u'cab_class',
       u'brd_time           ', u'off_time           ', u'pax', u'year',
       u'month', u'oid      '],
      dtype='object')

In [95]:
b.columns.tolist()

['act_date           ',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid  ',
 'rloc          ',
 'cre_date           ',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route          ',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time           ',
 'off_time           ',
 'pax',
 'year',
 'month',
 'oid      ']

In [94]:
#Hay que quitar los espacios de los nombres de las columnas

In [96]:
b.columns = b.columns.str.strip()

In [97]:
b.columns

Index([u'act_date', u'source', u'pos_ctry', u'pos_iata', u'pos_oid', u'rloc',
       u'cre_date', u'duration', u'distance', u'dep_port', u'dep_city',
       u'dep_ctry', u'arr_port', u'arr_city', u'arr_ctry', u'lst_port',
       u'lst_city', u'lst_ctry', u'brd_port', u'brd_city', u'brd_ctry',
       u'off_port', u'off_city', u'off_ctry', u'mkt_port', u'mkt_city',
       u'mkt_ctry', u'intl', u'route', u'carrier', u'bkg_class', u'cab_class',
       u'brd_time', u'off_time', u'pax', u'year', u'month', u'oid'],
      dtype='object')

In [ ]:
#Vamos a coger solamente las columnas que nos interesan por ahora

In [99]:
b = pd.read_csv('./bookings.sample.csv.bz2', sep = '^', usecols = ['arr_port', 'pax', 'year'])

In [100]:
b.head()

   arr_port  pax  year
0  LHR        -1  2013
1  CLT         1  2013
2  CLT         1  2013
3  SVO         1  2013
4  SVO         1  2013

In [102]:
#Seguimos...Qué haremos con los NaN?

In [104]:
b.isnull().sum()

arr_port    0
pax         0
year        0
dtype: int64

In [106]:
b = b.dropna() #Descartamos las filas NaN; 
#Con b.dropna(how='all') borra la fila si todas las columnas son NaN
#Con b.dropna(how='all', axis=1) borra, pero por columna
#Así quitamos las filas donde no haya pasajeros, o aeropuerto, etc, ya que no tendría sentido para nuestros calculos

# What do we have so far?

In [108]:
import pandas as pd
b = pd.read_csv('./bookings.sample.csv.bz2', sep = '^', usecols = ['arr_port', 'pax', 'year'])
b = b.dropna()
b.head()

   arr_port  pax  year
0  LHR        -1  2013
1  CLT         1  2013
2  CLT         1  2013
3  SVO         1  2013
4  SVO         1  2013

In [109]:
#qué vamos a hacer?...Action plan Top 10 arrival airports in 2013
# 1) bookings 2013
# 2) groupby airport
# 3) sum pax
# 4) top 10
# HACER UN COMMIT DESPUES DE CADA PASO

In [120]:
#1)
b_2013 = b[b['year'] == 2013]
print len(b_2013)

999

In [121]:
b = b[b['year'] == 2013]
b.drop('year', axis = 1, inplace=True) #Eliminamos la columna year, porque ya no nos hace falta
b.head()

   arr_port  pax
0  LHR        -1
1  CLT         1
2  CLT         1
3  SVO         1
4  SVO         1