In [1]:
# Vemos los datos que tenemos

In [2]:
import pandas as pd

In [3]:
paths_to_zips = '/home/dsc/Data/challenge/'

In [4]:
! bzcat {paths_to_zips}searches.csv.bz2 | head -1000 > searches.sample.csv

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = /home/dsc/Data/challenge/searches.csv.bz2, output file = (stdout)

In [5]:
! ls -l

total 1272
-rw-rw-r--. 1 dsc dsc  92779 Dec  2 21:48 Amadeus_Challenge_K.ipynb
-rw-rw-r--. 1 dsc dsc 425006 Dec  2 17:37 bookings.sample.csv
-rw-rw-r--. 1 dsc dsc  54834 Dec  2 17:14 bookings.sample.csv.bz2
-rw-rw-r--. 1 dsc dsc 425006 Dec  2 17:25 bookings.sample.csv.csv
-rw-rw-r--. 1 dsc dsc  54834 Dec  2 17:38 bookings.sample.csv.csv.bz2
-rw-rw-r--. 1 dsc dsc   1649 Dec  3 09:08 ch_03_k.ipynb
-rw-rw-r--. 1 dsc dsc  12723 Dec  2 21:46 ch_05b_k.ipynb
-rw-rw-r--. 1 dsc dsc 181739 Dec  3 09:08 searches.sample.csv
-rw-rw-r--. 1 dsc dsc  33984 Dec  2 20:55 topairports.csv

In [6]:
! bzip2 searches.sample.csv

In [7]:
ls -l *.bz2

-rw-rw-r--. 1 dsc dsc 54834 Dec  2 17:14 bookings.sample.csv.bz2
-rw-rw-r--. 1 dsc dsc 54834 Dec  2 17:38 bookings.sample.csv.csv.bz2
-rw-rw-r--. 1 dsc dsc 29366 Dec  3 09:08 searches.sample.csv.bz2

In [8]:
s = pd.read_csv('./searches.sample.csv.bz2', sep = '^', nrows = 500)

In [9]:
s.head()

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1,2,TXL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0,1,ATH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV
2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1,2,ICT,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0,1,RNB,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1,2,OSL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL