In [ ]:
## Clase del 19/11/2016 - Profesor Daniel Mateos

In [69]:
import pandas as pd

In [70]:
!ls

a.txt  Class_2016119_K.ipynb  my_very_last_file.txt  textfile
b.txt  file2.txt	      readme.txt	     textfile.txt

In [71]:
 ! ls -Data

.		       .git		      a.txt	    textfile
Class_2016119_K.ipynb  my_very_last_file.txt  textfile.txt  file2.txt
.ipynb_checkpoints     b.txt		      ..	    readme.txt

In [72]:
path_to_data = '/home/dsc/Data'

In [73]:
! ls {path_to_data} #Para usar variables en comandos de Shell

airline_tickets  find_file.txt	 Orange    README.md  us_dot
challenge	 opentraveldata  postgres  shell

In [74]:
! ls {path_to_data}/opentraveldata

fichero_bonito.txt	  optd_aircraft.csv  optd_por_public.csv
optd_aircraft_commas.csv  optd_airlines.csv  ref_airline_nb_of_flights.csv

In [75]:
! ls {path_to_data}/opentraveldata/optd_aircraft.csv

/home/dsc/Data/opentraveldata/optd_aircraft.csv

In [76]:
path = "%s/opentraveldata/optd_aircraft.csv" % path_to_data

In [77]:
open(path)

In [78]:
data_file = open(path)

In [79]:
#Contar el numero de modelos con dos motores
data_file.seek(0) #Para volver a la linea 1 del dataframe
count_two_engines = 0
for line in data_file:
    if line.split('^')[6] == '2':
        count_two_engines +=1 

print "El número de modelos con dos motores es %d" %count_two_engines

El número de modelos con dos motores es 241

##Leer archivos a Dataframes

In [87]:
aircraft = pd.read_csv(path, '^')
aircraft.head(5) #decuelve las cinco primeras cifras
aircraft.sample(5) #devuelve 5 lineas al azar

,iata_code,manufacturer,model,iata_group,iata_category,icao_code,nb_engines,aircraft_type
351,H20,Hawker-Beechcraft,Hawker 200,HBA,2J,ZZZZ,2.0,J
201,BTA,NaN,Business Turbo-Prop Aircraft,BTA,2T,ZZZZ,2.0,T
60,72Y,Boeing,727-200 Freighter,72F,3J,B722,3.0,J
200,BNT,Britten Norman,BN-2A Mk III Trislander,BNT,3P,TRIS,3.0,P
272,D8Q,Douglas,DC-8-72,DC8,4J,DC87,4.0,J

In [106]:
#Ejercicio ¿Cuantos modelos de 2 motores?
num_correcto = aircraft['nb_engines'] == 2
dos_motores = aircraft[num_correcto]
dos_motores.count()

iata_code        241
manufacturer     239
model            241
iata_group       241
iata_category    241
icao_code        241
nb_engines       241
aircraft_type    241
dtype: int64

In [107]:
#Otra manera
dos_motores.count()['nb_engines']

241

In [108]:
#Otra manera
(aircraft['nb_engines'] == 2).sum()

241

In [109]:
#Otra manera
len(aircraft[aircraft['nb_engines'] == 2])

241

In [116]:
#Airbus con dos motores
aircraft[(aircraft['manufacturer'] == 'Airbus') & (aircraft['nb_engines'] == 2)]

,iata_code,manufacturer,model,iata_group,iata_category,icao_code,nb_engines,aircraft_type
11,312,Airbus,A310-200,310,2J,A310,2.0,J
12,313,Airbus,A310-300,310,2J,A310,2.0,J
13,318,Airbus,A318,32S,2J,A318,2.0,J
14,319,Airbus,A319,32S,2J,A319,2.0,J
17,31X,Airbus,A310-200F,31F,2J,A310,2.0,J
18,31Y,Airbus,A310-300F,31F,2J,A310,2.0,J
19,320,Airbus,A320-100/200,32S,2J,A320,2.0,J
20,321,Airbus,A321-100/200,32S,2J,A321,2.0,J
21,32A,Airbus,A320 (sharklets),32S,2J,A320,2.0,J
22,32B,Airbus,A321 (sharklets),32S,2J,A321,2.0,J
25,32F,Airbus,A320 Freighter,32F,2J,A320,2.0,J
26,32X,Airbus,A321 Freighter,32X,2J,A321,2.0,J
28,332,Airbus,A330-200,330,2J,A332,2.0,J
29,333,Airbus,A330-300,330,2J,A333,2.0,J
31,33X,Airbus,A330-200 Freighter,33F,2J,A332,2.0,J
38,351,Airbus,A350-1000,350,2J,ZZZZ,2.0,J
39,358,Airbus,A350-800,350,2J,ZZZZ,2.0,J
40,359,Airbus,A350-900,350,2J,ZZZZ,2.0,J
149,AB4,Airbus,A300B2/B4/C4,AB3,2J,A30B,2.0,J
150,AB6,Airbus,A300-600,AB3,2J,A306,2.0,J
151,ABB,Airbus,A300-600ST Beluga,ABF,2J,A3ST,2.0,J
154,ABX,Airbus,A300C4/F4 Freighter,ABF,2J,A30B,2.0,J
155,ABY,Airbus,A300-600F,ABF,2J,A306,2.0,J

In [126]:
#Airbus distindos de dos motores
aircraft[(aircraft['manufacturer'] == 'Airbus') & ~(aircraft['nb_engines'] == 2)]

,iata_code,manufacturer,model,iata_group,iata_category,icao_code,nb_engines,aircraft_type
9,19D,Airbus,A319,NaN,NaN,NaN,NaN,NaN
10,310,Airbus,A310,NaN,NaN,NaN,NaN,NaN
15,31F,Airbus,A310F,NaN,NaN,NaN,NaN,NaN
16,31W,Airbus,A319 (Sharklets),NaN,NaN,NaN,NaN,NaN
23,32C,Airbus,A318 (sharklets),NaN,NaN,NaN,NaN,NaN
24,32D,Airbus,A319 (sharklets),NaN,NaN,NaN,NaN,NaN
27,330,Airbus,A330,NaN,NaN,NaN,NaN,NaN
30,33F,Airbus,A330 Freighter,NaN,NaN,NaN,NaN,NaN
32,340,Airbus,A340,NaN,NaN,NaN,NaN,NaN
33,342,Airbus,A340-200,340,4J,A342,4.0,J
34,343,Airbus,A340-300,340,4J,A343,4.0,J
35,345,Airbus,A340-500,340,4J,A345,4.0,J
36,346,Airbus,A340-600,340,4J,A346,4.0,J
37,350,Airbus,A350,NaN,NaN,NaN,NaN,NaN
41,380,Airbus,A380,NaN,NaN,NaN,NaN,NaN
42,388,Airbus,A380,380,4J,A388,4.0,J
43,38F,Airbus,A380F,38F,4J,A388,4.0,J
147,AB2,Airbus,A300B2,NaN,NaN,NaN,NaN,NaN
148,AB3,Airbus,A300,NaN,NaN,NaN,NaN,NaN
152,ABF,Airbus,A300F,NaN,NaN,NaN,NaN,NaN
153,ABM,Airbus,A300-600 Mixed Configuration,NaN,NaN,NaN,NaN,NaN

In [143]:
aircraft_bien = pd.read_csv(path, sep = '^', index_col = 0 )

In [148]:
aircraft_bien.index.values[:8]

array(['100', '141', '142', '143', '146', '14F', '14X', '14Y'], dtype=object)

In [149]:
#El indice de un dataframe es inmutable

In [164]:
fabricantes = aircraft_bien['manufacturer']
#fabricantes.str.capitalize()
#fabricantes.str.lower()[:5]
aircraft_bien[fabricantes.str.startswith('P').fillna(False)]

,manufacturer,model,iata_group,iata_category,icao_code,nb_engines,aircraft_type
iata_code,,,,,,,
P18,Piaggio Aero,P180 Avanti II,P18,2T,P180,2.0,T
PA1,Piper,Piper single piston engine,PAG,1P,*,1.0,P
PA2,Piper,Piper twin piston engines,PAG,2P,*,2.0,P
PAG,Piper,Piper light aircraft,NaN,NaN,NaN,NaN,NaN
PAT,Piper,Piper twin turboprop engines,PAG,2T,*,2.0,T
PL2,Pilatus,PC-12,PL2,1T,PC12,1.0,T
PL6,Pilatus,PC-6 Turbo Porter,PL6,1T,PC6T,1.0,T
PN6,Partenavia,P.68,PN6,2P,P68,2.0,P

In [166]:
#funciones map reduce:
#Partir datos en clusters y luego combinar todo. Así de puede hacer en ordenadores normales

# MAP en Python

In [175]:
enteros = [0,1,2,3,4]

In [176]:
def alcuadrado(num): return num ** 2

In [177]:
cuadrados = map(alcuadrado, enteros)
cuadrados

[0, 1, 4, 9, 16]

In [178]:
def suma_2_numeros(num_1, num_2): return num_1 + num_2

reduce(suma_2_numeros,cuadrados)

30

In [195]:
#Ejercicio: implementar la funcion max como un reduce
#Es decir, encontrar el numero mas grande de una lista utilizando reduce().
lista = (1,32,576,56,4,3,2,3,1002)

In [196]:
def max_function(num_1, num_2): 
    if num_1 >= num_2:
        return num_1
    else:
        return num_2

In [197]:
maximo = reduce(max_function, lista)
maximo

1002

In [199]:
def h(a): return a % 2 == 0
filter(h, cuadrados)

[0, 4, 16]

In [202]:
#funciones anónimas (functions literals)

In [203]:
filter(lambda x : x % 2 == 0, cuadrados)

[0, 4, 16]

## Aplicar a dataframes

In [207]:
aircraft_bien['nb_engines'].map(alcuadrado).sample(5)

iata_code
75M     4.0
BTA     4.0
D95     4.0
74J    16.0
73P     4.0
Name: nb_engines, dtype: float64

In [208]:
(aircraft_bien['nb_engines'] ** 2).sample(5)

iata_code
GRS    4.0
AB4    4.0
JU5    9.0
T2F    4.0
ATZ    4.0
Name: nb_engines, dtype: float64

## Group by

In [222]:
groups = aircraft_bien.groupby('manufacturer')

groups['nb_engines']

for k, group in groups['nb_engines']:
    print type(group)

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [231]:
by_manufacturer = aircraft_bien.groupby('manufacturer')
engines_by_manufacturer = by_manufacturer['nb_engines']
avg_engines_per_manufacturer = engines_by_manufacturer.mean()

In [232]:
engines_stats = engines_by_manufacturer.agg(['mean', 'std'])

In [233]:
engines_stats

                                    mean       std
manufacturer
ATR                             2.000000  0.000000
Aerospatiale / SNIAS            2.000000       NaN
Agusta / AgustaWestland              NaN       NaN
AgustaWestland                  2.000000       NaN
Airbus                          2.413793  0.824502
Aircraft Industries (LET)       2.000000       NaN
Airtech                         2.000000       NaN
Antonov                         3.200000  1.788854
Antonow / Antonov               2.444444  0.881917
Ayres                                NaN       NaN
BAC                             2.000000  0.000000
BAe                             3.200000  1.014185
Beechcraft                      1.875000  0.353553
Bell Helicopter                      NaN       NaN
Boeing                          2.698630  0.908065
Bombardier                      2.000000  0.000000
Britten Norman                  2.500000  0.707107
CASA                            2.000000       NaN
Canadair                        2.000000  0.000000
Cessna                          1.857143  0.363137
Comac                           2.000000       NaN
Convair                         2.000000  0.000000
Curtiss                         2.000000       NaN
DAHER-SOCATA                    1.000000       NaN
Dassault                        2.500000  0.534522
De Havilland                    3.000000  1.414214
De Havilland Canada             1.666667  1.211060
De Havilland Canada-Bombardier  2.000000  0.000000
De Havilland-Bombardier              NaN       NaN
Diamond Aircraft                2.000000       NaN
...                                  ...       ...
Helio                           1.000000       NaN
IAI                             2.000000       NaN
Ilyushin                        3.714286  0.755929
Junkers                         3.000000       NaN
LET                             2.000000       NaN
Learjet                         2.000000       NaN
Lockheed                        3.500000  0.547723
MBB                                  NaN       NaN
MD Helicopters                       NaN       NaN
McDonnell Douglas               2.470588  0.514496
Mil                                  NaN       NaN
Mitsubishi                      2.000000       NaN
NAMC                            2.000000       NaN
Nord / SNCAN                         NaN       NaN
Partenavia                      2.000000       NaN
Piaggio Aero                    2.000000       NaN
Pilatus                         1.000000  0.000000
Piper                           1.666667  0.577350
Rockwell                        2.000000  0.000000
Saab                            2.000000  0.000000
Shaanxi                         4.000000       NaN
Shorts                          2.000000  0.000000
Sikorsky                             NaN       NaN
Sud-Est                              NaN       NaN
Sukhoi                          2.000000  0.000000
Surface Equipment                    NaN       NaN
Tupolev                         2.200000  0.447214
Vickers                              NaN       NaN
Xian                            2.000000  0.000000
Yakovlev / Jakovlev             3.000000  0.000000

[75 rows x 2 columns]

In [244]:
engines_stats.sort_values(by=['mean', 'std'], ascending = False).head(10)

                         mean       std
manufacturer
Shaanxi              4.000000       NaN
Ilyushin             3.714286  0.755929
Lockheed             3.500000  0.547723
Antonov              3.200000  1.788854
BAe                  3.200000  1.014185
De Havilland         3.000000  1.414214
Yakovlev / Jakovlev  3.000000  0.000000
Junkers              3.000000       NaN
Douglas              2.947368  1.025978
Boeing               2.698630  0.908065

### JOINS

In [247]:
aircraft_bien.join(avg_engines_per_manufacturer, rsuffix="_mean", on = 'manufacturer')

,manufacturer,model,iata_group,iata_category,icao_code,nb_engines,aircraft_type,nb_engines_mean
iata_code,,,,,,,,
100,Fokker,100,100,2J,F100,2.0,J,2.000000
141,BAe,146-100,146,4J,B461,4.0,J,3.200000
142,BAe,BAE Systems 146-200 Passenger,146,4J,B462,4.0,J,3.200000
143,BAe,146-300,146,4J,B463,4.0,J,3.200000
146,BAe,146,NaN,NaN,NaN,NaN,NaN,3.200000
14F,BAe,146 Freighter (-100/200/300QT & QC),NaN,NaN,NaN,NaN,NaN,3.200000
14X,BAe,146 Freighter (-100QT & QC),14F,4J,B461,4.0,J,3.200000
14Y,BAe,146 Freighter (-200QT & QC),14F,4J,B462,4.0,J,3.200000
14Z,BAe,146 Freighter (-300QT & QC),14F,4J,B463,4.0,J,3.200000
19D,Airbus,A319,NaN,NaN,NaN,NaN,NaN,2.413793
310,Airbus,A310,NaN,NaN,NaN,NaN,NaN,2.413793
312,Airbus,A310-200,310,2J,A310,2.0,J,2.413793
313,Airbus,A310-300,310,2J,A310,2.0,J,2.413793
318,Airbus,A318,32S,2J,A318,2.0,J,2.413793
319,Airbus,A319,32S,2J,A319,2.0,J,2.413793
31F,Airbus,A310F,NaN,NaN,NaN,NaN,NaN,2.413793
31W,Airbus,A319 (Sharklets),NaN,NaN,NaN,NaN,NaN,2.413793
31X,Airbus,A310-200F,31F,2J,A310,2.0,J,2.413793
31Y,Airbus,A310-300F,31F,2J,A310,2.0,J,2.413793
320,Airbus,A320-100/200,32S,2J,A320,2.0,J,2.413793
321,Airbus,A321-100/200,32S,2J,A321,2.0,J,2.413793
32A,Airbus,A320 (sharklets),32S,2J,A320,2.0,J,2.413793
32B,Airbus,A321 (sharklets),32S,2J,A321,2.0,J,2.413793
32C,Airbus,A318 (sharklets),NaN,NaN,NaN,NaN,NaN,2.413793
32D,Airbus,A319 (sharklets),NaN,NaN,NaN,NaN,NaN,2.413793
32F,Airbus,A320 Freighter,32F,2J,A320,2.0,J,2.413793
32X,Airbus,A321 Freighter,32X,2J,A321,2.0,J,2.413793
330,Airbus,A330,NaN,NaN,NaN,NaN,NaN,2.413793
332,Airbus,A330-200,330,2J,A332,2.0,J,2.413793
333,Airbus,A330-300,330,2J,A333,2.0,J,2.413793
...,...,...,...,...,...,...,...,...
S76,Sikorsky,S-76,S76,H,S76,NaN,H,NaN
SF3,Saab,SF340A/B,SF3,2T,SF34,2.0,T,2.000000
SFB,Saab,SF340B,SF3,2T,SF34,2.0,T,2.000000
SFF,Saab,SF340 Freighter,SFF,2T,SF34,2.0,T,2.000000
SH3,Shorts,SD.330,SH3,2T,SH33,2.0,T,2.000000
SH6,Shorts,SD.360,SH6,2T,SH36,2.0,T,2.000000
SHB,Shorts,SC-5 Belfast,NaN,NaN,NaN,NaN,NaN,2.000000
SHS,Shorts,SC-7 Skyvan,SHS,2T,SC7,2.0,T,2.000000
SSC,Aerospatiale / SNIAS,Concorde,NaN,NaN,NaN,NaN,NaN,2.000000
SU1,Sukhoi,Superjet 100,NaN,NaN,NaN,NaN,NaN,2.000000
SU7,Sukhoi,Superjet 100-75,SU1,2J,ZZZZ,2.0,J,2.000000
SU9,Sukhoi,Superjet 100-95,SU1,2J,SU95,2.0,J,2.000000
SWF,Fairchild-Swearingen,SA226 Freighter,SWF,2T,*,2.0,T,2.000000
SWM,Fairchild-Swearingen,SA26 / SA226 / SA227 Metro / Merlin,SWM,2T,*,2.0,T,2.000000
SY8,Shaanxi,Y-8,SY8,4T,AN12,4.0,T,4.000000
T20,Tupolev,Tu-204 / Tu-214,T20,2J,T204,2.0,J,2.200000
T2F,Tupolev,Tu-204 Freighter,T2F,2J,T204,2.0,J,2.200000
T34,Tupolev,Tu-334,T34,2J,T334,2.0,J,2.200000
TBM,DAHER-SOCATA,TBM-700,TBM,1T,TBM7,1.0,T,1.000000
TRN,Surface Equipment,Train,TRN,S,0000,NaN,S,NaN
TU3,Tupolev,Tu-134,TU3,2J,T134,2.0,J,2.200000
TU5,Tupolev,Tu-154,TU5,3J,T154,3.0,J,2.200000
VCV,Vickers,Viscount,NaN,NaN,NaN,NaN,NaN,NaN
VCX,Vickers,VC-10,NaN,NaN,NaN,NaN,NaN,NaN
WWP,IAI,1124 Westwind,WWP,2J,WW24,2.0,J,2.000000
YK2,Yakovlev / Jakovlev,Yak 42,YK2,3J,YK42,3.0,J,3.000000
YK4,Yakovlev / Jakovlev,Yak 40,YK4,3J,YK40,3.0,J,3.000000
YN2,HAMC / Harbin,Y12,YN2,2T,Y12,2.0,T,2.000000
YN7,Xian,Yunshuji Y7,YN7,2T,AN24,2.0,T,2.000000
YS1,NAMC,YS-11,YS1,2T,YS11,2.0,T,2.000000